@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 225, 225, 225;
  --background-rgb: 18, 18, 18;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}